<div class="side-bar">
  category
   <%= link_to "材料登録", material_new_path, class: "recipe" %>
   <%= link_to "レシピ作成", racipe_new_path, class: "recipe" %>
   <%= link_to "みんなのレシピ", chefs_show_path, class: "recipe" %>
</div>

<div class="main">
  <div class="dessert">
    <div class="image">
    </div>
    <div class="title">
     testtesttesttest
    </div>
    <div class="explanation">
      
    </div>
  </div>

  <div class="dessert">
    <div class="image">
    </div>
    <div class="title">
     testtesttesttest
    </div>
    <div class="explanation">
      
    </div>
  </div>

  <div class="dessert">
    <div class="image">
    </div>
    <div class="title">
     testtesttesttest
    </div>
    <div class="explanation">
      
    </div>
  </div>

</div>