<div class="side-bar"></div>

<div class="main">
  <div class="dessert">
    <div class="image">
    </div>
    <div class="title-btn">
      <%= link_to "テスト", new_recipe_path, class:"title-btn-link"%>
    </div>
    <div class="explanation">
      
    </div>
  </div>

  <div class="dessert">
    <div class="image">
    </div>
    <div class="title-btn">
      <%= link_to "テスト", new_recipe_path, class:"title-btn-link"%>
    </div>
    <div class="explanation">
      
    </div>
  </div>

</div>