<div class="side-bar"></div>

<div class="main">
  <div class="dessert">
    <div class="image">
    </div>
    <div class="title">
     testtesttesttest
    </div>
    <div class="explanation">
      
    </div>
  </div>

  <div class="dessert">
    <div class="image">
    </div>
    <div class="title">
     testtesttesttest
    </div>
    <div class="explanation">
      
    </div>
  </div>

  <div class="dessert">
    <div class="image">
    </div>
    <div class="title">
     testtesttesttest
    </div>
    <div class="explanation">
      
    </div>
  </div>

</div>