<div class="side-bar">
  menu
  <%= link_to "材料登録",  material_new_path, class: "recipe" %>
  <%= link_to "レシピ作成",  racipe_new_path, class: "recipe" %>
  <%= link_to "みんなのレシピ",  chefs_show_path, class: "recipe" %>
</div>